<a href="https://colab.research.google.com/github/Sruthimaridu/Daily-python-codes/blob/main/Pythonday5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

N-base notation is a system for writing numbers that uses only n different symbols, This symbols are the first n symbols from the given notation list(Including the symbol for o) Decimal to n base notation are (0:0, 1:1, 2:2, 3:3, 4:4, 5:5, 6:6, 7:7, 8:8, 9:9, 10:A,11:B and so on upto 35:Z).

Implement the following function char DectoNBase(int n, int num):*

The function accept positive integer n and num Implement the function to calculate the n-base equivalent of num and return the same as a string

Steps:

Divide the decimal number by n,Treat the division as the integer division

Write the the remainder (in n-base notation)

Divide the quotient again by n, Treat the division as integer division

Repeat step 2 and 3 until the quotient is 0

The n-base value is the sequence of the remainders from last to first

Assumption: 1 < n < = 36

Example Input

n: 12

num: 718

Output

4BA

Explanation num = 718, divisor = 12, quotient=59, remainder=10(A).

num = 59, divisor = 12, quotient=4, remainder=11(B).

num = 4, divisor = 12, quotient=0, remainder=4(A).

In [ ]:
num=int(input())
div=int(input())
list="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
res=" "
while num>0:
  res=list[num%div]+res
  num=num//div
print(res)

718
12
4BA

You are required to input the size of the matrix then the elements of matrix, then you have to divide the main matrix in two sub matrices (even and odd) in such a way that element at 0 index will be considered as even and element at 1st index will be considered as odd and so on. Then you have sort the even and odd matrices in ascending order and print the sum of second largest number from both the matrices.

 Example enter the size of array : 5

 enter element at 0 index : 3

  enter element at 1 index : 4
  
  enter element at 2 index : 1
  
  enter element at 3 index : 7
  
   enter element at 4 index : 9
   
   Sorted even array : 1 3 9
   
   Sorted odd array : 4 7
   
   Sum = 7

In [ ]:
array = [3,4,7,1,9]
even_array = []
odd_array = []
for i in range(len(array)):
    if i % 2 == 0:
        even_array.append(array[i])
    else:
        odd_array.append(array[i])
even_array.sort()
odd_array.sort()
print("evensorted array",even_array)
print("odd sorted array",odd_array)
print(even_array[-2] + odd_array[-2])

evensorted array [3, 7, 9]
odd sorted array [1, 4]
8

**LENGTH OF LONGEST SUBSTRING IN THE GIVEN STRING**

In [ ]:
def longestsubstring(s1,s2):
  longsubstring=""
  for i in range(len(s1)):
    for j in range(i+1,len(s1)+1):
      if s1[i:j] in s2 and len(s1[i:j])>len(longsubstring):
        longsubstring=s1[i:j]
  return (longsubstring,len(longsubstring))
s1=input()
s2=input()
print(longestsubstring(s1,s2))

abcdefghijkl
cdefklm
('cdef', 4)


You are required to implement the following function:
int Calculate(int m, int n);

The function accepts 2 positive integers ‘m’ and ‘n’ as its arguments.You
are required to calculate the sum of numbers divisible both by 3 and 5,
between ‘m’ and ‘n’ both inclusive and return the same.

Note :
0 < m <= n

Example
Input:

m : 12

n : 50

Output

90

Explanation:
The numbers divisible by both 3 and 5, between 12 and 50 both
inclusive are {15, 30, 45} and their sum is 90.

In [ ]:
def calculate(m,n):
  sum=0
  for i in range(m,n+1):
    if i%3==0 and i%5==0:
      sum+=i
  return sum
m=int(input())
n=int(input())
print(calculate(m,n))

12
50
90